<template>
  <footer
    class="footer"
    hidden>
    <center>Copyright &copy; {{ new Date().getFullYear() }}</center>
  </footer>
</template>

<script>
export default {
  name: 'PageFooter'
}
</script>

<style>
.footer {
  width: 100%;
  height: 50px;
  background-color: teal;
  color: white;
  padding: 10px;
  font-size: 1.5em;
}
</style>
