<template>
  <div>
    <!-- navbar-1.vue -->
    <b-navbar
      toggleable="md"
      type="light"
      variant="light">
      <b-navbar-toggle target="nav_collapse"></b-navbar-toggle>
      <b-navbar-brand href="#">
        <img
          src="../../../static/img/logo/red-marker-icon.png"
          class="logo-image"
          alt="">
        <img
          src="../../../static/img/logo/logo.png"
          class="logo-image"
          alt="RD DEMOS">
      </b-navbar-brand>
      <b-collapse
        id="nav_collapse"
        is-nav>
        <b-navbar-nav>
        </b-navbar-nav>



        <!-- Right aligned nav items -->
        <b-navbar-nav class="ml-auto">


          <b-nav-item-dropdown right>
            <!-- Using button-content slot -->
            <template slot="button-content">
              RD DEMOS
            </template>
            <b-dropdown-item @click="logoutHandler">Logout</b-dropdown-item>
          </b-nav-item-dropdown>
        </b-navbar-nav>
      </b-collapse>
    </b-navbar>
    <!-- navbar-1.vue -->
  </div>
</template>

<script>
import { logout } from '../../utils/Auth'

export default {
  methods: {
    async logoutHandler() {
      await logout()
    }
  }
}
</script>

<style scoped>
a {
  color: #141417;
}
a:hover {
  text-decoration: none;
}
.logo-image {
  height: 28px;
}
</style>
