<template>
  <div>
    <div v-if="!loading">
      <div class="login-page">
        <div class="container">
          <div class="row login-wrapper">
            <div class="col-12 col-lg-5 ml-auto mr-auto align-self-center">
              <b-card class="login-card">
                <img
                  src="../../assets/logo.png"
                  class="img-fluid mb-5"
                  alt="Logo" />
                <b-form
                  class="mb-4"
                  @submit.prevent="loginHandler">
                  <b-form-group>
                    <b-form-input
                      v-model="form.email"
                      type="email"
                      size="lg"
                      required
                      placeholder="Email Address">
                    </b-form-input>
                    <span class="icon-box">
                      <i class="fa fa-envelope-o"></i>
                    </span>
                  </b-form-group>

                  <b-form-group>
                    <b-form-input
                      v-model="form.password"
                      type="password"
                      size="lg"
                      required
                      placeholder="Password">
                    </b-form-input>
                    <span class="icon-box">
                      <i class="fa fa-lock"></i>
                    </span>
                  </b-form-group>

                  <b-row class="justify-content-between">
                    <b-col class="col-auto">
                      <b-form-checkbox
                        v-model="form.checked"
                        class="self-align-start mr-auto"
                        style="font-size: 12px;">
                        Remember me
                      </b-form-checkbox>
                    </b-col>

                    <b-col class="col-auto">
                      <b-link
                        to="#"
                        class="self-align-end"
                        style="font-size: 12px;">
                        <span class="fa fa-lock"></span> Forgot Password?
                      </b-link>
                    </b-col>
                  </b-row>


                  <b-button
                    v-if="!isbuttonLoading"
                    size="lg"
                    type="submit"
                    class="btn-block btn-rd btn-teal mt-4 mb-3">
                    Log In
                  </b-button>

                  <b-button
                    v-else
                    size="lg"
                    type="submit"
                    class="btn-block btn-rd btn-teal mt-4 mb-3"
                    disabled>
                    <i class="fa fa-spinner fa-spin"></i>
                    Loading...
                  </b-button>

                <!--  <b-link to="/">
                    <b-button
                      size="lg"
                      class="btn-block btn-rd btn-skyblue mt-4 mb-3">
                      Register
                    </b-button>
                  </b-link> -->

                </b-form>
              </b-card>
            </div>
          </div>
        </div>

      </div>
    </div>
    <div v-else>
      <loader class="loader"></loader>
    </div>
  </div>
</template>

<script>
import { login } from '../../utils/Auth'
import Loader from '../Helper/Loader'
export default {
  components: { Loader },
  data() {
    return {
      loading: true,
      isbuttonLoading: false,
      form: {
        email: 'super@rd.com',
        password: 'a'
      }
    }
  },
  mounted() {
    this.$nextTick(() => {
      this.loading = false
    })
  },
  methods: {
    async loginHandler() {
      this.isbuttonLoading = true
      await login(this.form)
      this.isbuttonLoading = false
    }
  }
}
</script>

<style scoped>
.login-page .login-wrapper {
  height: 78vh;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  z-index: 999;
}
.login-card {
  text-align: center;
}
.form-group {
  margin-bottom: 2rem;
  position: relative;
}
span.icon-box {
  position: absolute;
  right: 0;
  width: 58px;
  height: 58px;
  border: 1px solid #213e7a;
  color: #fff;
  background-color: #213e7a;
  border-radius: 50%;
  display: table;
  top: -5px;
}
.icon-box i {
  display: table-cell;
  vertical-align: middle;
  font-size: 20px;
}
.form-control-lg {
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
  font-size: 1rem;
  line-height: 2;
}
.form-control:focus {
  border-color: #e6e7e8;
  -webkit-box-shadow: 0 2px 1px 0px rgba(125, 127, 130, 0.25);
  -moz-box-shadow: 0 2px 1px 0px rgba(125, 127, 130, 0.25);
  box-shadow: 0 2px 1px 0px rgba(125, 127, 130, 0.25);
}
.custom-control-label {
  margin-top: 4px;
}
.btn-rd {
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
}
.particles-js {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
}
</style>
