<template>
  <content-loader
    :height="400"
    :width="400"
    :speed="1"
    :primary-color="'#f3f3f3'"
    :secondary-color="'#ecebeb'"
  >
    <rect 
      x="0" 
      y="70" 
      rx="5" 
      ry="5" 
      width="100%" 
      height= "80vh" />
  </content-loader>
</template>

<script>
import { ContentLoader } from 'vue-content-loader'

export default {
  components: {
    ContentLoader
  }
}
</script>
