<template>
  <div>
    <navbar></navbar>
    <b-container fluid>
      Dashboard
    </b-container>
  </div>
</template>

<script>
import Navbar from './../components/Partial/Navbar'

export default {
  components: {
    Navbar
  }
}
</script>

<style scoped>
</style>
